[Unit]
Description=Prometheus Alertmanager
Documentation=https://prometheus.io/docs/alerting/alertmanager/

[Service]
Restart=always
User=prometheus
EnvironmentFile=/etc/sysconfig/alertmanager
ExecStart=/usr/bin/prometheus-alertmanager $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
